body {
  background-color: #f7f7f7;
}

.brand {
  font-family: 'Righteous', cursive;
  font-size: 3rem;
}

.radius {
  border-radius: 50%;
}

.head-gradient {
  background: #e52d27 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b31217,
    #e52d27
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b31217,
    #e52d27
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.thumbnail {
  position: relative !important;
  width: 300px !important;
  height: 300px !important;
  overflow: hidden !important;
}
.thumbnail img {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  /*height: 100% !important;
  width: auto !important;*/
  -webkit-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}
.ui.image {
  /* CSS Fix for Semantic UI since our pictures doesn't have the same ratio */
  max-width: unset !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.swipe-left {
  animation: fadein 1s;
}

.swipe-right {
  animation: fadein 1s;
}

.swipe-left.animit {
  animation: swipe-left 1s forwards;
}

.swipe-right.animit {
  animation: swipe-right 1s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes swipe-left {
  to {
    transform: rotate(-13deg) translate3d(-100%, 0, 0);
    opacity: 0;
  }
}

@keyframes swipe-right {
  to {
    transform: rotate(13deg) translate3d(100%, 0, 0);
    opacity: 0;
  }
}
